@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #FCF9FC;
}

input:focus {
  outline: none;
  border: none;
}

.hero_text_shadow {
  text-shadow: 1px 1px 1px #333;
}

.guide-bg {

  background: linear-gradient(rgba(11, 58, 103, 0.9), rgba(11, 58, 103, 0.9)), url("../../public/assets/img4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}